body {
    margin: 0;
    font-family: "Kanit", sans-serif;
  }
  .navigator {
    width: 1920px;
    height: 120px;
    background: #b22222;
    display: flex;
    justify-content: space-between;
  }
  .nav-left {
    /* border: 1px solid black; */
    width: 1020px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav-right {
    /* border: 1px solid blue; */
    width: 900px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 15px;
    right: 10px;
  }
  a {
    text-decoration: none !important;
    font-size: 50px;
    line-height: 59px;
    color: #ffffff;
    font-family: "Kanit", sans-serif;
  }
  a:hover {
    color: rgba(250, 188, 116, 1);
  }
  
  .a-right {
    font-size: 36px;
    line-height: 42px;
  }
  
  /* Header */
  .background-cate {
    background-color: rgba(196, 196, 196, 0.69);
    /* background-color: red; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .white-background-cate {
    width: 1660px;
    height: 120px;
    background-color: white;
    margin-top: 60px;
    position: absolute;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .wh-ba-left-cate {
    width: 30%;
    height: 120px;
    display: flex;
    align-items: center;
  }
  .wh-ba-left-cate p {
    font-size: 50px;
    line-height: 59px;
    color: #000000;
    transform: translate(0px, 25%);
    margin-left: 70px;
    height: 120px;
  }
  .wh-ba-mid-cate {
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  
  .wh-ba-mid-cate img {
    padding: 10px;
  }
  .img-hover1-cate:hover {
    background-color: rgba(250, 188, 116, 1);
    border-radius: 20px;
    width:25%;
  }
  
  .wh-ba-right-cate {
    width: 30%;
    height: 120px;
    display: flex;
    align-items: center;
    /* margin-left: 600px; */
  }
  .wh-ba-right-cate p {
    font-size: 50px;
    line-height: 59px;
    color: #000000;
    display: inline-block;
  }
  
  .wh-ba-right-cate p:hover {
    color: rgba(250, 188, 116, 1);
  }
  
  .wh-ba-right-ptag-cate {
    margin-left: 100px;
    cursor:pointer
  }
  
  .card-container-cate {
    width: 1386px;
    height: 100%;
    /* border: 1px solid green; */
    position: absolute;
    margin-top: 230px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: wrap;
  }
  .card1 {
    width: 350px;
    height: 355px;
    /* border: 1px solid green; */
    border-radius: 20px;
    position: relative;
  }
  .card1 img {
    width: 350px;
    height: 295px;
    border-radius: 20px 20px 0px 0px;
  }
  .card1 p {
    position: absolute;
    top: 355px;
    font-size: 36px;
    line-height: 42px;
    background-color: black;
    color: #ffffff;
    width: 350px;
    margin: 0;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    transform: translate(0px, -100%);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .card2 {
    width: 350px;
    height: 355px;
    /* border: 1px solid green; */
    border-radius: 20px;
    position: relative;
  }
  .card2 img {
    width: 350px;
    height: 295px;
    border-radius: 20px 20px 0px 0px;
  }
  .card2 p {
    position: absolute;
    top: 355px;
    font-size: 36px;
    line-height: 42px;
    background-color: black;
    color: #ffffff;
    width: 350px;
    margin: 0;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    transform: translate(0px, -100%);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .card3 {
    width: 350px;
    height: 355px;
    /* border: 1px solid green; */
    border-radius: 20px;
    position: relative;
  }
  .card3 img {
    width: 350px;
    height: 295px;
    border-radius: 20px 20px 0px 0px;
  }
  .card3 p {
    position: absolute;
    top: 355px;
    font-size: 36px;
    line-height: 42px;
    background-color: black;
    color: #ffffff;
    width: 350px;
    margin: 0;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    transform: translate(0px, -100%);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .card4 {
    width: 350px;
    height: 355px;
    /* border: 1px solid green; */
    border-radius: 20px;
    margin-top: 15px;
    position: relative;
  }
  .card4 img {
    width: 350px;
    height: 295px;
    border-radius: 20px 20px 0px 0px;
  }
  .card4 p {
    position: absolute;
    top: 355px;
    font-size: 36px;
    line-height: 42px;
    background-color: black;
    color: #ffffff;
    width: 350px;
    margin: 0;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    transform: translate(0px, -100%);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .card5 {
    width: 350px;
    height: 355px;
    /* border: 1px solid green; */
    border-radius: 20px;
    margin-top: 15px;
    position: relative;
  }
  .card5 img {
    width: 350px;
    height: 295px;
    border-radius: 20px 20px 0px 0px;
  }
  .card5 p {
    position: absolute;
    top: 355px;
    font-size: 36px;
    line-height: 42px;
    background-color: black;
    color: #ffffff;
    width: 350px;
    margin: 0;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    transform: translate(0px, -100%);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .card6 {
    width: 350px;
    height: 355px;
    /* border: 1px solid green; */
    border-radius: 20px;
    margin-top: 15px;
    position: relative;
  }
  .card6 img {
    width: 350px;
    height: 295px;
    border-radius: 20px 20px 0px 0px;
  }
  .card6 p {
    position: absolute;
    top: 355px;
    font-size: 36px;
    line-height: 42px;
    background-color: black;
    color: #ffffff;
    width: 350px;
    margin: 0;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    transform: translate(0px, -100%);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  